name: PR
on:
  pull_request:
    branches:
      - main

jobs:
  lint-branch:
    name: Lint Branch Name
    runs-on: ubuntu-20.04
    steps:
      - name: Validate branch name
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          BRANCH_PATTERN: '(major|minor|patch)\/.*'
        run: |
          echo "${BRANCH_NAME}" | grep -E "${BRANCH_PATTERN}"

  lint:
    name: Lint Code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v3
      - name: Rebase on main
        run: |
          git log
          git fetch origin main --depth=1
          git rebase origin/main
      # - name: Setup Python
      #   uses: actions/setup-python@v3
      #   with:
      #     python-version: 3.10.4
      #     architecture: x64
      # - name: Install linting tools
      #   run: pip install flake8==4.0.1 isort==5.10.1 black==22.3.0
      # - name: Run flake8
      #   run: flake8 .
      # - name: Run isort
      #   run: isort **/*.py
      # - name: Run black
      #   run: black --check .

#   test:
#     name: Test Code
#     runs-on: ubuntu-20.04
#     steps:
#       - name: Checkout PR branch
#         uses: actions/checkout@v3
#       - name: Rebase on main
#         run: |
#           git fetch origin main --depth=1
#           git rebase origin/main
#       - name: Setup Python
#         uses: actions/setup-python@v3
#         with:
#           python-version: 3.10.4
#           architecture: x64
#       - name: Setup Python
#         uses: actions/setup-python@v3
#         with:
#           python-version: 3.8.13
#           architecture: x64
#       - name: Install testing tools
#         run: |
#           pipx install poetry
#           pipx install nox
#           pipx inject nox nox-poetry
#       - name: Run tests
#         run: nox
