name: PR
on:
  pull_request:
    branches:
      - main

jobs:
  lint-branch:
    name: Lint Branch Name
    runs-on: ubuntu-20.04
    steps:
      - name: Validate branch name
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          BRANCH_PATTERN: '(major|minor|patch)\/.*'
        run: |
          echo "${BRANCH_NAME}" | grep -E "${BRANCH_PATTERN}"

  lint:
    name: Lint Code
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.4
          architecture: x64
      - name: Install nox
        run: |
          pipx install poetry
          pipx install nox
          pipx inject nox nox-poetry
      - name: Checkout PR branch
        uses: actions/checkout@v4
      - name: Run linting
        run: nox --session=lint

  test:
    name: Test Code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10.4
          architecture: x64
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8.13
          architecture: x64
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.4
          architecture: x64
      - name: Install nox
        run: |
          pipx install poetry
          pipx install nox
          pipx inject nox nox-poetry
      - name: Run tests
        run: nox --session=tests
      - name: Build package wheel
        run: poetry build
